#header {
	height: 130px;
	width: 100%;
	border-bottom: 1px solid #B40404;
}

/*
 * Desktop
 */

.textArea {
	padding-top:20px;
	padding-left:100px;
	width:70%;
}

#headerDesktop .title {
	height:30 px;
	padding-top:5px;
	font-family:Georgia;
	font-size:40px;
	font-weight:bold;
}
#logo {
	float:left;
	width:300px;
	height:70px;
	background:url(".../images/app/DHLAB.png") top left no-repeat;
}
/* In view mode add ellipsis if title is too long */
#header:not(.isBuilder) #headerDesktop .title {
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
    word-wrap: break-word;
	white-space: pre;
}

#headerDesktop .subtitle {
	font-size: 13px;
	margin-top: 16px;
	overflow: hidden;
	font-weight: normal;
	line-height: 18px;
    word-wrap: break-word;
	height: 54px;
}

.rightArea {
	float:right;
	padding-top:25px;
	padding-right:25px;
	text-align:right;
}

.rightArea .social {
	margin-bottom:10px;
}

.social .msLink{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
}

.rightArea .logo {
	border:none;
	outline:none;
}

.rightArea .logo img {
	max-width: 250px;
	max-height: 50px;
}

.switchBuilder {
	display: none;
	position:absolute; 
	right: 180px; 
	top: 30px;
	width: 150px;
	padding-left: 40px;
}

.switchBuilder div {
	position: absolute;
	top: 8px;
	left: 6px;
	background: url('../../../../resources/icons/builder-edit-fields.png') 0 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

/*
 * Sharethis
 */

span.stButton {
	margin-right: 0px !important;
}

/*
 * Desktop builder view
 */

#headerDesktop .text_edit_input {
	/* Position on top of the config panel */
	position: relative;
	z-index: 501;
}

/* Increase width of title/subtitle block as it will be reduced below */
.isBuilder #headerDesktop .textArea {
	width: 76%;
}

/* Reduce the width of the field to be sure that icon will stay visible */
#headerDesktop .text_edit_label { 
	max-width: 94%;
	overflow: hidden;
}

.title .text_edit_input {
	height: 20px;
	margin-top: -6px;
	margin-bottom: 0px;
	font-size: 20px;
	width: 98%;
}

.title .text_edit_icon {
	margin-top: -12px;
	margin-left: 8px;
}

.subtitle .text_edit_input {
	font-size: 12px;
	line-height: 17px;
	width: 97%;
}

.subtitle .text_edit_icon {
	position: absolute;
	margin-top: -16px;
	margin-left: 8px;
}

/*
 * Mobile
 */

#headerMobile {
	display: none;
	background-color:#444;
	position:fixed;
	width:100%;
	z-index: 100;
}

#headerMobile .banner {
	display: none;
	cursor: pointer;
}

#headerMobile .title {
	color:#fff;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
    word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 55px;
}

#headerMobile .subtitle {
	color:#dadada;
	font-size:16px;
	padding:0 10px 0 10px;
	font-weight:normal;
    word-wrap: break-word;
	max-height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

#closeHeaderMobile, #openHeaderMobile {
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}

#closeHeaderMobile {
	border-bottom:1px solid #888;
	padding:10px;
}

#openHeaderMobile {
	display: none;
	position:fixed;
	right:0;
	padding:7px;
	background-color:#666;
	-webkit-border-radius: 0px 0px 0px 7px;
	border-radius: 0px 0px 0px 7px;
	z-index:99;
}

.navBar {
	color:#848484;
	padding:.5em 0 .5em	0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
}

.navBar span {
	cursor:pointer;
}

.rightLink, .leftLink {
	position:absolute;
}

.leftLink {
	left:1em;
}

.rightLink {
	right:1em;
}

.navBar .current {
	color:#fff;
	font-weight:bold;
}